*{margin: 0}
.bg-dark {
    background-color: black!important;
}

img {
    width: 100%;
}

i.fa.fa-shopping-cart {
    font-size: 25px;
    position: relative;
    top: 75px;
    text-align: right;
    color: #ff94c2;
}

i.fa.fa-shopping-cart:hover {
    transform: translateX(-20px);
    transition: 0.4s;
    cursor: pointer;
}

#search {
    margin-top: 10px;
    margin-left: -10px;
}

.review .col-xs-3.col-sm-3.col-md-3.col-lg-3 {
    padding: 0px 10px 30px;
}

.review .card {box-shadow: 5px 5px #e7a0a0;}

.hieuung:hover {
    transform: scale(1.5);
    transition: 1s;
    cursor: pointer;
    z-index: 2;
}

.review p {
    font-size: 14px;
    font-weight: bold;
    left: -19px;
    position: relative;
}

.footer i {
    color: #ffffffc9;
}
.footer button.btnsutmit.btn.btn-light {
    background: black;
    border: none;
    color: white;
    font-size: 8.1px;
    margin-left: -36px;
    margin-bottom: 5px;
    height: auto;
}
.footer a {
    color: white;
    font-size: 13px;
    text-decoration: none;
}

footer.footer {
    background: #1b1b1b;
    padding-top: 66px;
    padding-bottom: 40px;
}
.text-input {
    background: black;
    border: none;
    color: white;
    font-size: 16.1px;
}
h4 {
    font-size: 14px;
    color: gray;
}
.btnup {
    position: fixed;
    right: 10px;
    bottom: 70px;
    transition: 0.5s;
    color: white;
    background: black;
    z-index: 3;
    opacity: 0;
    visibility: hidden;
}
.btnshow {
    opacity: 1;
    visibility: visible;
}