*{margin: 0px}

img.d-block.w-100 {
    height: 419px;
}

nav {
    padding-top: 2px;
}
nav.navbar.navbar-expand-sm.navbar-color.navbar-dark {
    left: 150px;
    top: -20px;
}
.btnup {
    position: fixed;
    right: 10px;
    bottom: 70px;
    transition: 0.5s;
    color: white;
    background: black;
    z-index: 3;
    opacity: 0;
    visibility: hidden;
}
.btnshow {
    opacity: 1;
    visibility: visible;
}



.rightheader .text-right {
    position: absolute;
    top: -1px;
    right: 50px;
}

.content {
    padding: 35px;
}

a.btn.btn-light {
    background: white;
    border: 1px solid;
    height: 30px;
    line-height: 12px;
}

a.btn.btn-light:hover {
    background: black;
    color: white;
}

p.card-text {
    color: red;
}

h4.card-title {
    color: #3b3535;
}

.card {
    border: none;
    cursor: pointer;
}


.showlist {
    opacity: 1;
    visibility: visible;
    transform: translateY(0%);
}
i.fab.fa-youtube {
    padding-right: 3px;
}

i.fab.fa-twitter {
    padding-right: 3px;
}

i.fab.fa-facebook-f {
    padding-right: 12px;
}

.footer i {
    color: #ffffffc9;
}

.footer button.btnsutmit.btn.btn-light {
    background: black;
    border: none;
    color: white;
    font-size: 8.1px;
    margin-left: -36px;
    margin-bottom: 5px;
    height: auto;
}

.text-input {
    background: black;
    border: none;
    color: white;
    font-size: 16.1px;
}

h4 {
    font-size: 14px;
    color: gray;
}

.footer a {
    color: white;
    font-size: 13px;
    text-decoration: none;
}

footer.footer {
    background: #1b1b1b;
    padding-top: 66px;
    padding-bottom: 40px;
}



.navbar-dark .navbar-nav .nav-link {
    color: white;
    cursor: pointer;
}
.bg-dark {
    background-color: black!important;
}

.navbar-dark .navbar-toggler {
    border-color: #f8f9fa;
}

.navbar-toggler {
    background-color: #5e3d3d42;
}

.bgtop {

    color: white;
    font-family: serif;
    padding-bottom: 85px;
}
